.navContent {
	width: 100%;
	margin: 50px 0;
}

.navContent_item {
	width:auto;
	color: #ffffff;
	border-radius: 30px;
	padding: 2px 20px;
	display: inline-block;
	background-color: #000000;
}

.navContent_item:hover {
	background-color: #1e89f2;
}

.navContent_item_spacing {
	margin-left: 10px;
}

.nav_title{
	line-height: 30px;
}

.nav_title div {
	width: 8px;
	height: 30px;
	background-color: #1e89f2;
	border-radius: 4px;
	float: left;
}

.nav_title span {
	color: #1e89f2;
	font-size: 20px;
	margin-left: 20px;
	float: left;
}

.nav_title_x2{
	line-height: 30px;
}

.nav_title_x2 div {
	width: 8px;
	height: 30px;
	background-color: #1e89f2;
	border-radius: 4px;
	float: left;
}

.nav_title_x2 span {
	color: #1e89f2;
	font-size: 22px;
	margin-left: 20px;
	float: left;
}

.nav_title_margin{
	width: 100%;
	height: 10px;
}

.nav_content {
	width: 100%;
	margin: 50px 0;
	padding: 4%;
	border-radius: 10px;
	background-color: #f8f8f8;
}

.nav_spacing {
	margin-top: 100px;
}

.nav_item {
	width: 46%;
	margin:10px auto;
	padding: 10px;
	background-color: #ffffff;
	border-radius: 10px;
	cursor: pointer;
	display: inline-block;
	white-space: nowrap;
	/*border-width: 1px;
	border-style: solid;
	border-color: #dddddd;*/
}

.item_spacing{
	margin-left: 1.5%;
}

/*.item_end {
	width: 96%;
}
*/
.nav_item:hover {
	box-shadow: 0 0 10px rgba(40,40,40,0.2);
	/*border-width: 1px;
	border-style: solid;
	border-color: #1e89f2;*/
}

.nav_item img {
	width: 50px;
	height: 50px;
	border-width: 3px;
	border-style: solid;
	border-color: #dddddd;
	border-radius: 50%;
	float: left;
}

.nav_item .nav_text{
	margin-left: 70px;
}

.nav_item .nav_text h4{
	color: #000000;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.nav_item .nav_text p{
	width: 100%;
	margin: 0;
	color: #999999;
	font-size: 14px;
	line-height: 20px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.nav_item .nav_text p .free{
	color: #08af04;
}

.nav_item .nav_text p .pay{
	color: #e10000;
}

.end {
	width: 100%;
	margin: 30px 0;
	text-align: center;
	color: #cccccc;
	font-weight: normal;
}

@media (max-width: 1200px){
	.nav_content {
		width: 92%;
	}
	
	.nav_item {
		width: 47%;
	}
}

@media (max-width: 1162px){
	.item_spacing{
		margin-left: 2%;
	}

	.nav_item {
		width: 46.5%;
	}
}

@media (max-width: 1047px){
	.item_spacing{
		margin-left: 3.5%;
	}

	.nav_item {
		width: 45%;
	}
}

@media (max-width: 807px){
	.item_spacing{
		margin-left: 4.5%;
	}

	.nav_item {
		width: 44%;
	}
}

@media (max-width: 700px){
	.item_spacing{
		margin-left: 0;
	}

	.nav_item {
		width: 94%;
		/*width: 100%;*/
		margin-left: auto;
		margin-right: auto;
	}
}

/*@media (max-width: 600px){
	.nav_item {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
}*/